:root{
    --verde-escuro: rgb(85, 134, 93);
    --verde-claro: rgb(116, 168, 69);
    --amarelo: rgb(195, 224, 95);
    --azul-claro:rgb(119, 216, 189);
    --azul-escuro:rgb(61, 96, 121);
    --branco: rgb(234, 239, 242 );
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(152, 181, 166);
    color:var(--branco);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.navbar-light .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    font-size: 18px;
    color: var(--branco);
}



.navbar-light .navbar-nav .nav-item:hover .nav-link{
    color:var(--verde-claro);
}
.navbar-toggler{
    background-color: var(--azul-escuro);
}
.show{
    background-color: rgba(0,0,0,0.5);
    
}


#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(247, 248, 248);
    color:rgb(105, 110, 112);
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1px;
  
}
#title{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(67, 70, 71);
    /*background-color: rgb(193, 236, 178);*/
    margin-top:10px;

    /*border-radius: 25px;*/
    text-align: center;
    /*box-shadow: 1px 1px 1px rgba(78, 78, 78, 0.5);*/
    padding-bottom: 0;
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 3px solid rgb(190, 218, 137);
    
}
#img-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: center;
  max-width: 100%;
  margin: auto;
  padding-bottom: 10px;
  background-color:rgb(252, 252, 252);
  
}
#image{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1%;
    width:50%;
    height: 50%;
    margin:auto;
    border-radius: 2%;
    box-shadow: 1px 1px 1px rgba(78, 78, 78, 0.5);


    
}
#img-caption{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1px;
    color: rgb(105, 110, 112);
}

#vida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    align-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 98%;

}
.texto-vida{
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
}
.image-vida{
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:40%;
    height: auto;
    
   
}
.imagens-vida{
    width: 80%;
    height: 60%;
    border-radius: 2%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    
}
.textoconteudo{
    color:rgb(105, 110, 112);
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 150px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.texto-legado{
    color:rgb(105, 110, 112);
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
    display: flex;
    flex-direction:row;
    width: 95%;
    height: 140px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}
#legado{
    padding-top: 15px;
    padding-left: 20px;
    width: 98%;
}
#referencia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding-left: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    
}
.texto-referencia{
    width: 70%;
    display: flex;
    flex-direction:column;
    padding-bottom: 10px;
    padding-top:10px;
}

.texto-referencia2{
    color:rgb(105, 110, 112);
    text-align: justify;
    text-indent: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: justify;

}
.container-img-ref{
    width: 30%;
    margin-bottom: 50px;
}
.image-referencia{
    width: 100%;
    height: 90%;
    border-radius: 2%;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);

}
.destaque{
    border-bottom: 3px solid rgb(195, 224, 95);
    font-family:Verdana, Geneva, Tahoma, sans-serif; ;
    margin: auto;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    color:var(--verde-claro);
    
}
.album{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: rgb(234, 236, 236);
    margin-bottom: 20px;
}

.item-album{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.image-algum{
    width: 90%;
height: 60%;
border-radius: 2%;
box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
margin-bottom: 20px;
}

.legenda{
    /*border-bottom: 2px solid rgb(95, 224, 164);*/
    border-bottom: 3px solid rgb(190, 218, 137);

    
}
.texto-movies{
    color:rgb(105, 110, 112);
    text-align: justify;
    text-indent: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 15px;
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    margin-top: 20px;
}


.lista-movies li{
    margin: 0;
	padding: 10px 10px 20px 25px;
	list-style: none;
	background-image: url("img/leafIcon.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 15px;
    font-size: 14px;
    padding-top: 20px;

}
#tribute-link{
    text-decoration: none;

}
.leaf{
    width: 3%;
    padding-right: 10px;
    
}
.leaf-2{
    width: 2%;
    padding-right: 10px;
}

#rodape{
background-color:rgb(204, 204, 204) ;
margin-top: 10px;
display: flex;
flex-direction: row;
justify-content:center;
color: rgb( 109, 137, 141)
}

@media (max-width:840px) {
    .textoconteudo{
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 98%;
    }
    .texto-vida{
        font-size: 10px;
    }

    .texto-legado{
        font-size: 10px;
        
        text-indent: 2px;

    }
    .legenda{
        font-size: 12px;
    }
    .leaf{
        width: 8%;
    }
    .leaf-2{
        width: 6%;
    }
    .destaque{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .texto-movies{
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .lista-movies li{
        font-size: 10px;
        background-size: 10px;
        padding-bottom: 10px;
        padding-top: 8px;
    }
    .texto-referencia{
        width: 90%;
    }
    #referencia{
        flex-direction: column;
    }
    .container-img-ref{
        margin: 0;
        width: 50%;
    }
    #rodape{
        font-size: 10px;
        padding-top: 8px;
        
    }
    .album{
        height: 250px;
    }

    .texto-referencia2{

        font-size: 12px;
        text-indent: 2px;
    }

    .image-vida{
        margin-bottom: 220px;
    }
    .imagens-vida{
        width: 98%;
    }
}

@media (max-width:576px) {
    .textoconteudo{
        font-size: 09px;
        margin-top: 40px;
        margin-bottom: 75px;
        width: 98%;
    }
    .texto-vida{
        font-size: 10px;
        padding-left: 10px;
        padding-top: 15px;
    }

    .texto-legado{
        font-size: 9px;
        text-indent: 2px;
        margin-top:20px;
        margin-bottom: 50px;


    }
    .legenda{
        font-size: 9px;
    }
    .leaf{
        width: 8%;
    }
    .leaf-2{
        width: 6%;
    }
    .destaque{
        margin-bottom: 20px;
        font-size: 16px;
    }
    .texto-movies{
        font-size: 12px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .lista-movies li{
        font-size: 10px;
        background-size: 10px;
        padding-bottom: 10px;
        padding-top: 8px;
    }
    .texto-referencia{
        width: 100%;
    }
    #referencia{
        flex-direction: column;
    }
    .container-img-ref{
        margin: 0;
        width: 50%;
    }
    #rodape{
        font-size: 10px;
        padding-top: 8px;
        
    }
    .album{
        height: 250px;
    }

    .texto-referencia2{

        font-size: 9px;
        text-indent: 2px;
    }

    .image-vida{
        margin-bottom: 420px;
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .imagens-vida{
        width: 98%;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #title{
        font-size: 10px;
        margin-bottom: 420px;
    }
}